@proxym:registry=https://gitlab.proxym-group.net/api/v4/react-native-starter/proxym-rn-design-system/packages/npm/
//gitlab.proxym-group.net/api/v4/react-native-starter/proxym-rn-design-system/packages/npm/:_authToken=glpat-q5pRCZdsYuGf4yVQtcVU
